Hello,<br/><br/>

[$USER_NAME$] [$MESSAGE$]<br/>

<b>Agenda:</b><p>	[$MEETING_DESC$]	</p><br/>


<b>Date & Location (mm/dd/yyyy):</b><p>	[$DATE_LIST$]	</p><b>Time (IST - GMT + 5:30):</b><p>From [$START_TIME$] To [$END_TIME$]</p><br/>Thank You<br/>[$USER_NAME$]
